# START SERVER AND MYSQLD CONFIGURATION BLOCK
[server]
[mysqld]

# PORT COMMUNICATION
port		        = 3306
# DIRECTORIE WHO STOCK DE BDD
datadir		        = /var/lib/mysql
# ADDING USER
user		        = mysql
# PATH TO THE SOCKET FOR COMMUNICATION
socket		        = /var/run/mysqld/mysqld.sock

skip-networking = false